---
title: "OS_Check"
author: "DG Lim"
date: "2023-11-23"
categories: [news, analysis]
image : OpenAI_DevDay_Opening Keynote_image.png
---

# 파이썬 적용해보기
데이터 load 되는지 확인

In [4]:
import os
import pandas as pd
import numpy as np

In [5]:
pwd = os.getcwd()
print(pwd)
os.chdir('/Users/limdonggeon/Desktop/SNU_FINTECH/Python_Programming_Visualization/practice/data')
pwd2 = os.getcwd()
data = pd.read_csv(pwd2 + '/airlines.csv')
data.head()

/Users/limdonggeon/Desktop/SNU_FINTECH/Python_Programming_Visualization/practice/data

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

<br/>
<br/>

---
# Writer : 임동건 #
<img src="donggeon_image.jpeg" width="200" height="200">